* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  background-color: #111;
}

body {
  max-width: 50em;
  margin: 1em auto;
  padding: 0.5em 1em;
  color: #eee;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  background-color: #444;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

a {
  color: #ff925b;
}

a:visited {
  color: #ff7070;
}

.caption {
  text-align: center;
}

.disclaimer {
  color: #aaa;
  font-size: 70%;
}

h1 {
  font-weight: normal;
}

.note {
  font-size: 80%;
  color: #bbb;
  letter-spacing: 1px;
  margin: 0.5em 0 0.7em;
}

form {
  max-width: 35em;
  margin: 0 auto;
}

fieldset {
  margin: 0 0 1em;
  padding: 0.5em;
  border: none;
}

legend {
  display: block;
  margin: 0;
  padding: 0 0.2em;
}

.units label {
  display: block;
  margin: 0 0 0.5em;
}

input + label {
  margin-top: 0.5em;
}

input,
select {
  font: inherit;
}

select {
  margin-left: 0.5em;
}

input[type="number"] {
  display: block;
  float: left;
  border: 1px solid #fff;
  background-color: #ddd;
  padding: 0.2em;
  line-height: 1;
  width: 4em;
  margin-left: 0.5em;
}

input[type="range"] {
  display: block;
  float: left;
  width: calc(100% - 5em);
}

canvas {
  display: block;
  width: 400px;
  height: 300px;
  background-color: #000;
  margin: 0 auto;
  cursor: crosshair;
  font: inherit;
  border-radius: 3px;
}

@media (max-width: 50em) {
  body {
    padding: 0.5em;
    border: none;
    margin: 0;
  }

  h1 {
    margin: 0 0 0.5em;
  }
}
